<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <span>Mind's Matter</span>
        </div>
        <div class="navs">
            <a href="/login">Login</a>
            <a href="/About">About</a>
            <a href="/Contact">Contact</a>
        </div>
        <div class="media">
            <i class="fab fa-instagram fa-2x"></i>
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-facebook-f fa-2x"></i>
            <i class="fab fa-linkedin-in fa-2x"></i>
        </div>
    </div>
    <div class="navbar-responsive">
        <i id="hamburger" class="fas fa-bars"></i>
        <div id="sideDrawer" class="navbar-responsive-content">

            <div class="navs-responsive">
                <a href="/login">Login</a>
                <a href="/About">About</a>
                <a href="/Contact">Contact</a>
            </div>
            <div class="media-responsive">
                <i class="fab fa-instagram fa-2x"></i>
                <i class="fab fa-twitter fa-2x"></i>
                <i class="fab fa-facebook-f fa-2x"></i>
                <i class="fab fa-linkedin-in fa-2x"></i>
            </div>
        </div>
    </div>
    <script src="/js/navbar.js"></script>
