<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %> 
    <div class="About">
        <span class="boldBig">About Mind's Matter</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</br>eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="button">
                <a href="/userRegister">Join For Free</a>
            </div>
        </div>
    </div>
    <div class="vision">
        <div class="text">
            <span class="boldBig">Our Vision</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</br>eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="aboutImages">
            <div class="topImages">
                <img id="img1" src="/images/sunflower.jpg" alt="sunflower" srcset="">
                <img id ="img2" src="/images/sunflower.jpg" alt="sunflower" srcset="">
            </div>
            <div class="bottomImage">
                <img src="/images/sunflower.jpg" alt="" srcset="">
            </div>
        </div>
    </div>
</body>
</html>