<!-- <ul>
    <li >Breathing<a href="/user/activities/breathing">View Details</a></li>
    <li >Meditation<a href="/user/activities/meditation">View Details</a></li>
    <li >Walking<a href="/user/activities/walking">View Details</a></li>
    <li >Running<a href="/user/activities/running">View Details</a></li>
    <li >Cycling<a href="/user/activities/cycling">View Details</a></li>
</ul> -->

<%- include('partials/header') -%>

<div class="container activities">
  <div class="row">
    <h1>Calming Exercise</h1>
  </div>
  <div class=" row">
    <div class="col d-flex justify-content-center">
      
      <div class="card" style="width: 350px; height: fit-content;">
        <img class="card-img-top" src="/images/activities-breadthing.jpg" alt="smile" srcset="">
        <div class="card-body">
            <h2>Breathing</h2>
            <p>“You can’t control everything. Sometimes you just need to relax and have faith 
            that things will work out. Let go a little and just let life happen.” — Kody Keplinger</p>
            <a class="activities-btn" href="/user/activities/breathing">See More..</a>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 350px; height: fit-content;">
        <img class="card-img-top" src="/images/activities-meditation.jpg" alt="smile" srcset="">
        <div class="card-body">
            <h2>Meditation</h2>
            <p>“You can’t control everything. Sometimes you just need to relax and have faith 
            that things will work out. Let go a little and just let life happen.” — Kody Keplinger</p>
            <a class="activities-btn" href="/user/activities/meditation">See More..</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>Physical Exercise</h1>
  </div>
  <div class=" row">
    <div class="col d-flex justify-content-center">
      
      <div class="card" style="width: 350px; height: fit-content;">
        <img class="card-img-top" src="/images/activities-walking.jpg" alt="smile" srcset="">
        <div class="card-body">
            <h2>Walking</h2>
            <p>“You can’t control everything. Sometimes you just need to relax and have faith 
            that things will work out. Let go a little and just let life happen.” — Kody Keplinger</p>
            <a class="activities-btn" href="/user/activities/walking">See More..</a>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 350px; height: fit-content;">
        <img class="card-img-top" src="/images/activities-running.jpg" alt="smile" srcset="">
        <div class="card-body">
            <h2>Running</h2>
            <p>“You can’t control everything. Sometimes you just need to relax and have faith 
            that things will work out. Let go a little and just let life happen.” — Kody Keplinger</p>
            <a class="activities-btn" href="/user/activities/running">See More..</a>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 350px; height: fit-content;">
        <img class="card-img-top" src="/images/activities-cycling.jpg" alt="smile" srcset="">
        <div class="card-body">
            <h2>Cycling</h2>
            <p>“You can’t control everything. Sometimes you just need to relax and have faith 
            that things will work out. Let go a little and just let life happen.” — Kody Keplinger</p>
            <a class="activities-btn" href="/user/activities/cycling">See More..</a>
        </div>
      </div>
    </div>
  </div>
</div>
 
<%- include('partials/footer') -%>
