
<ul>
  <li >Breathing<a href="/user/activities/breathing">View Details</a></li>
  <li >Meditation<a href="/user/activities/meditation">View Details</a></li>
  <li >Walking<a href="/user/activities/walking">View Details</a></li>
  <li >Running<a href="/user/activities/running">View Details</a></li>
  <li >Cycling<a href="/user/activities/cycling">View Details</a></li>
</ul>  
