<!-- <!DOCTYPE html>
<html lang="en">
<head>
<script src="/js/breathingtimer.js"></script>
</head>
<body>
<div >
<p><span id="seconds">00</span>: <span id="tens">00</span></p>
<button id="button-start">Start</button>
<button id="button-stop">Stop</button>
<button id="button-reset">Reset</button>

</div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script type="text/javascript" src="/js/timer.js"></script>
<<<<<<< HEAD
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
=======

>>>>>>> a3004ddf391d575a9454d4112207f7dd59837eec
</head>
<body>

    <div class="container">

<<<<<<< HEAD
    <h3>
    Breathing is an automatic function of the body that is controlled by the respiratory centre of the brain. When we feel stressed, our breathing rate and pattern changes as part of the ‘fight-or-flight response’.

    Fortunately, we also have the power to deliberately change our own breathing. Scientific studies have shown that controlling your breath can help to manage stress and stress-related conditions. Breath control is also used in practices such as yoga, tai chi and some forms of meditation. Many people use their breathing to help promote relaxation and reduce stress.
    </h3>

    <h2>Put one hand on your belly just below your ribs and the other hand on your chest. Take a deep breath in through your nose, and let your belly push your hand out. Your chest should not move. Breathe out through pursed lips as if you were whistling.
    </h2>
=======
>>>>>>> a3004ddf391d575a9454d4112207f7dd59837eec
        <div id="display">
            00:00:00
        </div>

        <div class="buttons">
            <button id="startStop" onclick="startStop()">Start</button> <button id="reset" onclick="reset()">Reset</button>
        </div>

    </div>
    
</body>
</html>