<%- include('partials/header') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container whole-cycling">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="cycling-text">
                <h1 class="cycling-head">Your Mind is happy on Biking</h1>
                <h4 class="cycling-sub_head">How does cycling improve mental health?</h4>
                <p class="cycling-body">
                A survey by Cycleplan, which aimed to 
                understand the health benefits people experienced after taking up cycling, discovered that three-quarters of 
                respondents noticed an improvement in their mental health.
                Regular cyclists often talk about the “cycling high”, cousin to the well-recognised “runner’s high”. Cycling pumps blood around your
                body at a greater rate which allows for the rapid spread of endorphins and other good substances like dopamine, norepinephrine and serotonin.
                Self-Esteem, depression, anxiety and stress are all positively affected through exercise, but the nature of 
                cycling has been shown to be one of the most effective activities for the head and heart.
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <img class="card-img-top" src="/images/cycling.jpg" alt="cycling" srcset="">
        </div>

    </div>
</div>
</body>
</html>


<%- include('partials/footer') -%>