<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar-Login') %>
    <div class="confirm">
      <form action="/user/bookAppointment" method="POST">
        <h1>Confirm Your Appointment Request with <%= foundDoctor.name %> </h1>
        <input value="<%= foundDoctor._id%>" name="docId" style="display: none;"/>
        <div>
          <button type="submit">Confirm Appointment</button>
          <button type="submit"><a href="/users/search">Cancel</a></button>
        </div>
      </form>
    </div>
  </body>
</html>
