<%- include('partials/header') -%>
        <img src="/images/brain@2x.png" alt="brain">
        <h2>Mind's Matters</h2>
        <p>“I understand your pain. Trust me, I do. I’ve seen people go from the darkest moments 
                in their lives to living a happy, fulfilling life. You can do it too. I believe in you. You are not a burden.
                 You will NEVER BE a burden.” — Sophie Turner</p>
        <a href="/login">login</a> 

<%- include('partials/footer') -%>