<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
    <a type="button" href="/userLogin">LOGIN AS USER</a>
    <a type="button" href="/docLogin" >LOGIN AS DOCTOR</a>
<%- include('partials/footer') -%>
