<!-- <!DOCTYPE html>
<html lang="en">
<head>
<script src="/js/breathingtimer.js"></script>
</head>
<body>
<div >
<p><span id="seconds">00</span>: <span id="tens">00</span></p>
<button id="button-start">Start</button>
<button id="button-stop">Stop</button>
<button id="button-reset">Reset</button>

</div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script type="text/javascript" src="/js/timer.js"></script>

</head>
<body>
<<<<<<< HEAD
    <h3>Meditation can give you a sense of calm, peace and balance that can benefit both your emotional well-being and your overall health. And these benefits don't end when your meditation session ends. Meditation can help carry you more calmly through your day and may help you manage symptoms of certain medical conditions.
    </h3>
    <h2>Try to concentrate for atleast 2 minutes</h2>
=======

>>>>>>> a3004ddf391d575a9454d4112207f7dd59837eec
    <div class="container">

        <div id="display">
            00:00:00
        </div>

        <div class="buttons">
            <button id="startStop" onclick="startStop()">Start</button> <button id="reset" onclick="reset()">Reset</button>
        </div>

    </div>
    
</body>
</html>