<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
      <%- include('partials/navbar-Login') %> 
    <div class="box">
      <form action="/user/result" method="POST">
        <div class="card">
          <h3 id="ques">Question</h3>
          <div>
            <ul>
              <input type="radio" name="ans" id="ans1" class="answer" />
              <label for="ans1" id="option1">Answer</label>
            </ul>
            <ul>
              <input type="radio" name="ans" id="ans2" class="answer" />
              <label for="ans2" id="option2">Answer</label>
            </ul>
            <ul>
              <input type="radio" name="ans" id="ans3" class="answer" />
              <label for="ans3" id="option3">Answer</label>
            </ul>
            <ul>
              <input type="radio" name="ans" id="ans4" class="answer" />
              <label for="ans4" id="option4">Answer</label>
            </ul>
          </div>

          <div class="action">
            <div id="btn">Submit</div>
          </div>
        </div>
        <div class="scoreCard">
          <input type="number" id="score" name="score1" style="display: none" />
          <h3 id="result"></h3>
          <h3 id="remark"></h3>
          <button type="submit" id="end" class="displayNone">End Test</button>
        </div>
      </form>
    </div>

    <script src="/js/mobScript.js"></script>
  </body>
</html>
