<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>For Depression and Anxiety, Running Is a Unique Therapy</h1>
    <h4>How does running improves mental health?</h4>
    <p>While experiencing a runner's high is one of the best ways to feel happy and relaxed, 
        running and other forms of vigorous exercise actually provide a number of mental health benefits.
        Running can control stress and boost the body's ability to deal with existing mental tension. 
        Exercise also increases concentrations of norepinephrine, 
        a chemical that helps moderate the brain's response to stress.
        Running reduces anxiety and depression. When you run, blood circulation to the brain is increased and the part 
        of your brain that responds to stress and improves your mood is affected. This causes a change that temporarily 
        improves your reaction to stressful situations. 
        Some studies show that regular running can have the same effects as medication in relieving 
        symptoms of anxiety and depression. Running is encouraged during therapy and recovery to alleviate 
        some symptoms of mental illness.  </p>
</body>
</html>