<%- include('partials/header') -%>


<div class=" user-reg-form mx-auto container">
    <h4 class="user-reg-heading">Register as a new user</h4>
    <form action="/userRegister" method="POST">

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input 
                class="form-control"
                type="text" 
                name="username" 
                placeholder="Enter Username"
            />
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input 
                class="form-control"
                type="password" 
                name="password" 
                placeholder="Set Password"
            />
        </div>

        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input 
                class="form-control"
                type="text" 
                name="name" 
                placeholder="Enter Your Full Name"
            />
        </div>

        <div class="mb-3">
            <label class="form-label">Mobile number</label>
            <input 
                class="form-control"
                type="number" 
                pattern="[0-9]{10}" 
                name="phnum" 
                placeholder="Enter Mobile Number"
            />
        </div>
        <div class="mb-3">
            <label class="form-label">Address</label>
            <input 
                class="form-control"
                type="text" 
                name="address" 
                placeholder="Enter Your Address"
            />
        </div>

        <div class="mb-3">
            <label class="form-label">Email ID</label>
            <input 
                class="form-control"
                type="email" 
                name="email" 
                placeholder="Enter Email ID"
            />
        </div>

        <div class="mb-3">
            <label class="form-label">Date of Birth</label>
            <input 
                class="form-control"
                type="date" 
                name="dob" 
                placeholder="Enter Your Date of Birth"
            />
        </div>
        <div class="mb-3">
            <label class="form-label">Gender</label> 
            <div class="form-check">
                
                <input class="form-check-input" id="flexRadioDefault1" type="radio" id="male" name="gender" value="male">
                <label  class="form-check-label" for="male">Male</label><br>
                <input class="form-check-input" id="flexRadioDefault2" type="radio" id="female" name="gender" value="female">
                <label  class="form-check-label"for="female">Female</label><br>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
    <%- include('partials/footer') -%>