<%- include('partials/header') -%>

    <a href="/user/profile/<%= id %>">Profile</a>
    <form action="/user/quiz" method="POST">
        <button type="submit">Take Quiz</button>
    </form>
    <a href="/user/activities">Activities</a>
    <a href="/users/search">Book Appointment</a>

<%- include('partials/footer') -%>