<%- include('partials/header') -%>

<div class="quiz_header container text-center">
    <p>Quiz For Mental Ability<p>
</div>
<div class="quiz_text container">
    <p>Take a proactive approach to your mental health and well-being with these free, 
    medically-reviewed quizzes.This will help us know you better</p>
</div>
<div class="button_landing">
<form action="/user/quiz" method="POST">
    <div class="quiz_button container">
    <button type="submit">Take Quiz</button>
    </div>
</form>

<div class="submit_landing continer">
<button type="submit">Book Appointment</button>
</div>
</div>
    <a href="/user/profile/<%= id %>">Profile</a>
    <form action="/user/quiz" method="POST">
        <button type="submit">Take Quiz</button>
    </form>
    <a href="/user/activities">Activities</a>
    <a href="/users/search">Book Appointment</a>


<%- include('partials/footer') -%>