<%- include('partials/header') -%>

<form action="/user/quiz" method="POST">
    <button type="submit">Take Quiz</button>
</form>
<a href="/user/activities">Activities</a>
<button type="submit">Book Appointment</button>


<%- include('partials/footer') -%>