<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>A good walk can do wonders for your mental wellbeing.</h1>
    <h4>How does walking improves mental health?</h4>
    <p>Being active has a whole range of benefits when it comes to mental wellbeing.
        It improves self-perception and self-esteem, mood and sleep quality,
        and it reduces stress, anxiety and fatigue. Physically active people have up to 
        a 30% reduced risk of becoming depressed, and staying active helps those who are depressed recover.
        In older people, staying active can improve cognitive function, memory, 
        attention and processing speed, and reduce the risk of cognitive decline and dementia.  </p>
</body>
</html>