*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #e9e9e9;

}

.blogNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 1px solid #ffc400;
}

.blogNav_logo a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #FFC93C;
    letter-spacing: 2px;
}


.blogNav_navLinks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
}
.blogNav_navLinks a{
    text-decoration: none;
    color: black
}

.input_form{
    background-color: #fff;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 5px;
    padding: 50px;
}
.input_form input,textarea{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #e9e9e9;
}

/* .input_form input:hover,textarea:hover{
    transition: 0.3s ease-in;
    outline: none;
    border: 2px solid #ff693c;

} */

.input_form input{
    height: 40px;
    padding: 3px 10px;
}

.input_form textarea {
    height: 100px;
    padding: 3px 10px;
    resize: none;
}

.posts{
    margin: 30px;
    display: flex;
    flex-direction: column;

}

.post{
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.post_user{
    border-bottom: 1px solid #ffe17e;
}

.post_user p{
    padding:0;
    font-size: 25px;
    margin: 10px 50px;
}

.post_header{
    display: flex;
}

.post_header_head{
    margin: 10px 50px;
    border-bottom: 1px solid #ffe17e;
}

.post_header_title{
    margin: 0px 30px 0px 0px;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.post_header_subtitle{
    margin: 0px 30px 0px 0px;
}

.post_description p{ 
    margin-left: 50px;
}

.button{
    border: none;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius:5px;
    letter-spacing: 2px;
    background-color: #fff1c3;
}

.post_actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    width: 100%;
}
 
.post_actions_actions{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.blogNav_responsive{
    display: none;
}


@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }
    .blogNav{
        display: none;
    }
    .blogNav_logo a{
        margin-left: 20px;
        font-size: 20px;
    }
    .blogNav_navLinks{
        display: none;
    }
    .blogNav_responsive{
        display: block;
        padding-top: 10px;
        width: 100%;
   }
    .blogNav_navLinks_responsive.open{
        clip-path: circle(1000px at 95% 10%);
        -webkit-clip-path: circle(1000px at 95% 10%);
        
    }
    .post_description p{ 
        text-align: justify;
        margin: 0px 50px 10px; 
    }
    .blogNav_navLinks_responsive{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 10px;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #FFC93C;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
    } 
    .blogNav_navLinks_responsive a{
        text-decoration: none;
        color: #fff;
    }
    .navResponsive{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hamburger{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 10px 30px;
    }
    .button{
        width: 100%;
    }
  }