.doc-info{
    margin-top: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.72);
-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.72);
-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.72);
padding: 2rem;
margin-bottom: 3rem;
}

.doc-header{
    display: flex;
    justify-content: center;
}

.pendingAppointments{
    margin-top: 1rem;
}

.upcomingAppointments{
    margin-top: 1rem;
}

.appointmentsCard{
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.72);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.72);
    margin: 1rem;
    padding: 2rem;
}

